$bw-color-heer: #334811;
$bw-color-heer-56: #3348118f;
$bw-color-heer-35: #33481159;
$bw-color-heer-13: #33481121;

$bw-color-luftwaffe: #2F84B0;
$bw-color-luftwaffe-56: #2f84b08f;
$bw-color-luftwaffe-35: #2f84b059;
$bw-color-luftwaffe-13: #2f84b021;

$bw-color-marine: #183757;
$bw-color-marine-56: #1837578f;
$bw-color-marine-35: #18375759;
$bw-color-marine-13: #18375721;

$bw-color-streitkraefte: #DB7700;
$bw-color-streitkraefte-56: #db77008f;
$bw-color-streitkraefte-35: #db770059;
$bw-color-streitkraefte-13: #db770021;

$bw-color-sani: #C21411;
$bw-color-sani-56: #c214118f;
$bw-color-sani-35: #c2141159;
$bw-color-sani-13: #c2141121;

$bw-color-cyber: #537D6C;
$bw-color-cyber-56: #537d6c8f;
$bw-color-cyber-35: #537d6c59;
$bw-color-cyber-13: #537d6c21;

$bw-color-orgbereich: #485C6A;
$bw-color-orgbereich-56: #485c6a8f;
$bw-color-orgbereich-35: #485c6a59;
$bw-color-orgbereich-13: #485c6a21;

$bw-color-schmuck: #647B8A;
$bw-color-schmuck-56: #647b8a8f;
$bw-color-schmuck-13: #647b8a21;

$bw-color-akzent-1: #E6110C;
$bw-color-akzent-2: #F29100;
$bw-color-akzent-3: #F9B600;

$bw-color-fack: #004471;
$bw-color-fack-56: #0044718f;
$bw-color-fack-35: #00447159;
$bw-color-fack-13: #00447121;
